/building0
/building1
/building2
/building3
/building4
/building5
/building6
/building7

/bauilding0
/bauilding1
/bauilding2
/bauilding3
/bauilding4
/bauilding5
/bauilding6
/bauilding7

/abc0
/abc1
/abc2

/node_modules